/*Navigation Bar Styling*/

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  display: block;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 20px
}

#nav-bar .header {
  font-size: 2em;
  float: left;
  line-height: 80px;
}

#nav-bar .logo {
  float: left;
  width: 70px;
  height: 70px;
  color: #e8fdff;
  margin-left: 2em;
}

button.nav-bar-button {
  font-size: 1em;
  float: right;
  line-height: 50px;
  background-color: white;
  color: #00a087;
  margin-top: 10px;
  margin-right: 2em;
  border: solid;
  border-color: #7f8da3;
  border-width: thin;
  border-radius: 0.5rem;
  opacity: 0.7;
}

.nav-bar-button:hover {
  opacity: 0.9;
  color: black;
}
