

section.new-tweet {
  background-color: #eee;
  margin-top: 30px;
  margin-right: 2em;
  margin-left: 2em;
  padding: 0.5em;
  border-radius: 0.5rem;
}

h2 {
  border-bottom: solid;
  border-width: thin;
}

textarea {
  padding: 0.5em;
  margin: 0.5em;
  width: 95%;
}

.counter {
  float: right;
  font-style: italic;
}

input {
  margin: 0.5em;
}

.exceedLimit {
  color: red;
}
